body{
	margin: auto;
	background: url("images/lights.jpg");
}

#header{
	background-color:#fcb774;
	text-align: left;
	padding: 20px;
	font-family: arial;
	margin: auto;
}

#jumbo{
	background-color:#ffff;
	margin: 20px;
}
